body {
	padding: 0px;
	margin: 0px;
}

h3 {
	font-family: abolition,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 200%;
}

h4 {
	font-family: montserrat,sans-serif;
	font-weight: 400;
	font-style: normal;
}

p {
	font-family: montserrat,sans-serif;
	font-weight: 400;
	font-style: normal;
}

#breadcrumbBox {
	background-color: #BA1C21;
	padding-right: 2%;
	padding-left: 2%;
	margin-right: auto;
	margin-left: auto;
	height: 8%;
}

#breadcrumbBox button {
	background: none;
	border: none;
	padding-left: 0px;
	padding-right: 0px;
	text-decoration: underline;
	margin-top: 0px;
	height: 100%;
	float: left;
	color: white;
	font-size: 120%;
}

#breadcrumbBox p {
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	color: white;
}

label {
	font-family: montserrat,sans-serif;
	font-weight: 400;
	font-style: normal;
}

#introHeader {
	background-color: #BA1C21;
	height: 35%;
	margin: 0px;
}

#header {
	background-color: #BA1C21;
	height: 25%;
	margin: 0px;
}

#header img {
	margin-top: 2%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

#introHeader img {
	margin-top: 2%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#introHeader p {
	margin-top: 2%;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	color: white;
}

#body1 {
	width: 50%;
	height: 50%;
	margin-right: auto;
	margin-left: auto;
}

.firstMoveOn {
	margin-top: 3%;
}

#body2CS {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	height: 165%;
}

#body2CS p {
	margin-top: 10%;
}

#body2SE {
	width: 55%;
	margin-right: auto;
	margin-left: auto;
	height: 160%;
}

#body2SE p {
	margin-top: 10%;
}

#body2M {
	width:50%;
	margin-right: auto;
	margin-left: auto;
	height: 170%;
}

#body2M {
	margin-top: 5%;
}

#body2IT {
	width:50%;
	margin-right: auto;
	margin-left: auto;
	height: 135%;
	margin-top: 5%;
}

.leftHalf {
	float: left;
	width: 45%;
}

.rightHalf {
	margin-left: 10%;
	float: left;
	width: 45%;
}

.secondMoveOn {
	margin-top: 8%;
	margin-right: auto;
	margin-left: auto;
}

.secondMoveOnSE {
	margin-top: 5%;
}

.secondMoveOnM {
	margin-top: 3%;
}

.secondMoveOnIT {
	margin-top: 3%;
}

#body3CS {
	height: 135%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#body3CS p {
	margin-top: 8%;
}

#body3SE {
	height: 60%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#body3SE p {
	margin-top: 10%;
}

#body3M {
	height: 95%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#body3M p {
	margin-top: 10%;
}

#body3IT {
	height: 100%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#body3IT p {
	margin-top: 10%;
}

.thirdMoveOn {
	margin-top: 5%;
}

.thirdMoveOnSE {
	margin-top: 5%;
}

.thirdMoveOnM {
	margin-top: 5%;
}

.thirdMoveOnIT {
	margin-top: 5%;
}

.input {
	width: 100%;
	height: 20%;
	padding-top: 10%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}

button {
	background-color: #BA1C21;
	border: none;
	color: white;
	text-align: center;
	padding: 15px 32px;
	text-decoration: none;
	margin-right: auto;
	margin-left: auto;
	transition-duration: 0.4s;
}

button:hover {
	background-color: #a1181c;
}

label {
	font-size: 100%;
}

select {
	height: 60%;
	width: auto;
	margin-left: 5%;
}

#footer {
	height: 15%;
	width: 100%;
	background-color: #e3e3e3;
	padding-top: 0.5%;
}

.footerText {
	text-align: center;
}

#csSchedule {
	width:75%;
	min-height: 50%;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

#seSchedule {
	width:60%;
	min-height: 50%;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;}

#maSchedule {
	width:60%;
	min-height: 50%;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

#itSchedule {
	width: 60%;
	min-height: 50%;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

#fileLabels {
	width: 100%;
	height: 5%;
	margin-top: 5%;
}

#fileLabels h4 {
	font-family: abolition,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 125%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 0px;
	margin-top: 2%;
}

#fileLabel1 {
	width: 20%;
	height: 100%;
	background-color: #ebebeb;
	/* Rounded corners please */
	border-radius: 5px 5px 0px 0px;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
}

#fileLabel2 {
	width: 20%;
	height: 100%;
	background-color: #f1f1f1;
	margin-right: 5%;
	float: left;
	border-radius: 5px 5px 0px 0px;
}

#fileLabel3 {
	width: 20%;
	height: 100%;
	background-color: #f1f1f1;
	margin-right: 5%;
	float: left;
	border-radius: 5px 5px 0px 0px;
}

#fileBody {
	min-height: 95%;
	overflow: hidden;
	border-radius: 5px 5px 0px 0px;
	background-color: #ebebeb;
	margin-bottom: 5%;
	padding: 3%;
	padding-left: 5%;
}

#fileBody h2 {
	font-family: abolition,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 200%;
}

#fileLabelsM {
	width: 100%;
	height: 5%;
	margin-top: 5%;
}

#fileLabelsM h4 {
	font-family: abolition,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 125%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 0px;
	margin-top: 2%;
}

#fileLabel1M {
	width: 20%;
	height: 100%;
	background-color: #ebebeb;
	/* Rounded corners please */
	border-radius: 5px 5px 0px 0px;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
}

#fileLabel2M {
	width: 20%;
	height: 100%;
	background-color: #f1f1f1;
	margin-right: 5%;
	float: left;
	border-radius: 5px 5px 0px 0px;
}

#fileLabel3M {
	width: 20%;
	height: 100%;
	background-color: #f1f1f1;
	margin-right: 5%;
	float: left;
	border-radius: 5px 5px 0px 0px;
}

#fileBodyM {
	min-height: 95%;
	overflow: hidden;
	border-radius: 5px 5px 0px 0px;
	background-color: #ebebeb;
	margin-bottom: 5%;
	padding: 3%;
	padding-left: 5%;
}

#fileBodyM h2 {
	font-family: abolition,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 200%;
}

#fileLabelsSE {
	width: 100%;
	height: 5%;
	margin-top: 5%;
}

#fileLabelsSE h4 {
	font-family: abolition,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 125%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 0px;
	margin-top: 2%;
}

#fileLabel1SE {
	width: 20%;
	height: 100%;
	background-color: #ebebeb;
	/* Rounded corners please */
	border-radius: 5px 5px 0px 0px;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
}

#fileLabel2SE {
	width: 20%;
	height: 100%;
	background-color: #f1f1f1;
	margin-right: 5%;
	float: left;
	border-radius: 5px 5px 0px 0px;
}

#fileLabel3SE {
	width: 20%;
	height: 100%;
	background-color: #f1f1f1;
	margin-right: 5%;
	float: left;
	border-radius: 5px 5px 0px 0px;
}

#fileBodySE {
	min-height: 95%;
	overflow: hidden;
	border-radius: 5px 5px 0px 0px;
	background-color: #ebebeb;
	margin-bottom: 5%;
	padding: 3%;
	padding-left: 5%;
}

#fileBodySE h2 {
	font-family: abolition,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 200%;
}

#fileLabelsIT {
	width: 100%;
	height: 5%;
	margin-top: 5%;
}

#fileLabelsIT h4 {
	font-family: abolition,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 125%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 0px;
	margin-top: 2%;
}

#fileLabel1IT {
	width: 20%;
	height: 100%;
	background-color: #ebebeb;
	/* Rounded corners please */
	border-radius: 5px 5px 0px 0px;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
}

#fileLabel2IT {
	width: 20%;
	height: 100%;
	background-color: #f1f1f1;
	margin-right: 5%;
	float: left;
	border-radius: 5px 5px 0px 0px;
}

#fileLabel3IT {
	width: 20%;
	height: 100%;
	background-color: #f1f1f1;
	margin-right: 5%;
	float: left;
	border-radius: 5px 5px 0px 0px;
}

#fileBodyIT {
	min-height: 95%;
	overflow: hidden;
	border-radius: 5px 5px 0px 0px;
	background-color: #ebebeb;
	margin-bottom: 5%;
	padding: 3%;
	padding-left: 5%;
}

#fileBodyIT h2 {
	font-family: abolition,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 200%;
}

#body1Generals {
	width: 50%;
	height: 125%;
	margin-right: auto;
	margin-left: auto;
}

#body1Generals p {
	margin-top: 5%;
}

.geneds {
	margin-top: 20%;
}