body {
	padding: 0px;
	margin: 0px;
}

h3 {
	font-family: abolition,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 200%;
}

p {
	font-family: montserrat,sans-serif;
	font-weight: 400;
	font-style: normal;
}

label {
	font-family: montserrat,sans-serif;
	font-weight: 400;
	font-style: normal;
}

#introHeader {
	background-color: #BA1C21;
	height: 35%;
	margin: 0px;
}

#header {
	background-color: #BA1C21;
	height: 25%;
	margin: 0px;
}

#header img {
	margin-top: 2%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

#introHeader img {
	margin-top: 2%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#introHeader p {
	margin-top: 2%;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	color: white;
}

#body1 {
	width: 50%;
	height: 50%;
	margin-right: auto;
	margin-left: auto;
}

.firstMoveOn {
	margin-top: 3%;
}

#body2CS {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	height: 165%;
}

#body2CS p {
	margin-top: 10%;
}

#body2SE {
	width: 55%;
	margin-right: auto;
	margin-left: auto;
	height: 160%;
}

#body2SE p {
	margin-top: 10%;
}

#body2M {
	width:50%;
	margin-right: auto;
	margin-left: auto;
	height: 170%;
}

#body2M {
	margin-top: 5%;
}

#body2IT {
	width:50%;
	margin-right: auto;
	margin-left: auto;
	height: 135%;
	margin-top: 5%;
}

.leftHalf {
	float: left;
	width: 45%;
}

.rightHalf {
	margin-left: 10%;
	float: left;
	width: 45%;
}

.secondMoveOn {
	margin-top: 8%;
	margin-right: auto;
	margin-left: auto;
}

.secondMoveOnSE {
	margin-top: 5%;
}

.secondMoveOnM {
	margin-top: 3%;
}

.secondMoveOnIT {
	margin-top: 3%;
}

#body3CS {
	height: 135%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#body3CS p {
	margin-top: 8%;
}

#body3SE {
	height: 60%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#body3SE p {
	margin-top: 10%;
}

#body3M {
	height: 95%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#body3M p {
	margin-top: 10%;
}

#body3IT {
	height: 100%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#body3IT p {
	margin-top: 10%;
}

.thirdMoveOn {
	margin-top: 5%;
}

.thirdMoveOnSE {
	margin-top: 5%;
}

.thirdMoveOnM {
	margin-top: 5%;
}

.thirdMoveOnIT {
	margin-top: 5%;
}

.input {
	width: 100%;
	height: 20%;
	padding-top: 13%;
	margin-left: auto;
	margin-right: auto;
}

button {
	background-color: #BA1C21;
	border: none;
	color: white;
	text-align: center;
	padding: 15px 32px;
	text-decoration: none;
	margin-right: auto;
	margin-left: auto;
	transition-duration: 0.4s;
}

button:hover {
	background-color: #a1181c;
}

label {
	font-size: 100%;
}

select {
	height: 60%;
	width: 40%;
	margin-left: 5%;
}

#footer {
	height: 15%;
	width: 100%;
	background-color: #e3e3e3;
	padding-top: 0.5%;
}

.footerText {
	text-align: center;
}

#csSchedule {
	width:60%;
	min-height: 50%;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

#seSchedule {
	width:60%;
	min-height: 50%;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;}

#maSchedule {
	width:60%;
	min-height: 50%;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

#itSchedule {
	width: 60%;
	min-height: 50%;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}






@media only screen and (max-width: 1024px) {

	#introHeader p {
		font-size: 90%;
		line-height: 150%;
		margin-top: 1%;
		width: 80%;
	}

	p {
		font-size: 150%;
	}

	label {
		height:50%;
	}

	select {
		height:50%;
	}

	button {
		height:10%;
	}

	#logo {
		height: 50%;
	}

	#logo img {
		padding-top: 5%;
	}

	.input {
		padding-top: 25%;
	}

	#footer {
		font-size: 50%;
		padding-top: 5%;
	}
}

@media only all and (max-width: 768px) {

	#logo {
		width: 80%;
	}

	p {
		font-size: 150%;
	}

	#introHeader p {
		font-size: 80%;
		line-height: 100%;
		margin-top: 5%;
	}

	#logo img {
		margin-top: 2%;
	}

	.input {
		padding-top: 35%;
	}

	#footer {
		padding-top: 10%;
	}

	label {
		height:50%;
	}

	select {
		height:50%;
	}

	button {
		height:10%;
	}
}
